.terminator-terminal-window notebook header, .terminator-terminal-window stack {
    border: 0;
}

.terminator-terminal-window separator {
    min-height: 2px;
    min-width: 2px;
    background-color: rgb(20, 20, 20);
    background-image: image(rgb(20, 20, 20)), image(rgb(20, 20, 20))
}

.header-bar.default-decoration {
    padding-top: 4px;
    padding-bottom: 4px;
    }

.header-bar.default-decoration .button.titlebutton {
    padding-top: 4px;
    padding-bottom: 4px;
}

/* No line below the title bar */
.ssd .titlebar {
    border-width: 2px;
    box-shadow: none;
}
